@media (min-width: 75rem) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5.313rem;
  }

  /* font */
  .text-preset-1, .text-preset-1-bold {
    font-size: 2.25rem;
  }

  .container {
    width: 100%;
    max-width: 75rem;
    gap: 4rem;
  }

  .title-container {
    width: 100%;
    max-width: 33.75rem;
    margin: 2rem auto;
  }

  .card-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
  }

  .card {
    width: 21.875rem ;
    height: 15.625rem;
  }

  .rectangle {
    height: 0.5rem;
  }

  .card-title {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .card-info {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .icon {
    height: 4rem;
    width: 4rem;
    margin-top: 2rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .special-icon {
    margin-top: 3rem;
  }

  /* Positioning cards in diamond formation */
  .supervisor-card {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .team-builder-card {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .karma-card {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
  }

  .calculator-card {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
  }
}