/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  background-color: #FAFAFA;
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Text Presets */

.mobile-preset-1 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.mobile-preset-1-bold {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
}

.mobile-preset-2 {
  color: #4D4F62;
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 0.938rem;
font-style: normal;
font-weight: 400;
line-height: 1.563rem;
letter-spacing: 0.007rem;
opacity: 0.5;
}

.text-preset-1 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.016rem;
}

.text-preset-1-bold {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 0.016rem;
}

.text-preset-2 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.563rem;
  letter-spacing: 0.007rem;
}

.text-preset-3 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

.text-preset-4 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.438rem;
  letter-spacing: 0.006rem;
  opacity: 0.5;
}

/* Mobile Layout */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* title section */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 375px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10.063rem;
  width: 19.438rem;
  margin: 5.313rem 2rem  4.875rem 2rem;
}

.title-text {
  margin-top: 0.813rem;
}

/* cards section */

.card-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 2rem 4.875rem 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
  height: 13.875rem;
  width: 19.438rem;
}

.rectangle {
  width: 100%;
  height: 0.222rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.color1 {
  background-color: #44D3D2;
}

.color2 {
  background-color: #EA5454;
}

.color3 {
  background-color: #FCAE4A;
}

.color4 {
  background-color: #549EF2;
}

.card-title {
  padding-top: 1.75rem;
  padding-left: 1.75rem;
}

.card-info {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 1.75rem;
}

.icon {
  height: 3.563rem;
  width: 3.563rem;
  margin-right: 1.75rem;
  padding-top: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 1.75rem;
  align-self: flex-end;
}

.image1 {
  background: url(./images/icon-supervisor.svg) 50%/cover no-repeat;
}

.image2 {
  background: url(./images/icon-team-builder.svg) 50%/cover no-repeat;
}

.image3 {
  background: url(./images/icon-karma.svg) 50%/cover no-repeat;
}

.image4 {
  background: url(./images/icon-calculator.svg) 50%/cover no-repeat;
}
