/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Text Presets */

.mobile-preset-1 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.mobile-preset-1-bold {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
}

.text-preset-1 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.016rem;
}

.text-preset-1-bold {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 0.016rem;
}

.text-preset-2 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 0.938;
  font-weight: 400;
  line-height: 1.563rem;
  letter-spacing: 0.007rem;
}

.text-preset-3 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

.text-preset-4 {
  color: #4D4F62;
  font-family: "Poppins", sans-serif;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.438rem;
  letter-spacing: 0.006rem;
}

